* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
}

body {
    background-color: rgb(11, 49, 165);
}

.clock {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__btn {
        margin: 0 10px;
        padding: 10px 30px;
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        color: black;
        outline: none;
        border-style: none;
        background-color: purple;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: darken(purple, 10%);
            color: lighten(black, 80%);
        }

        &:active {
            background-color: darken(purple, 20%);
            transition: 0s;
        }
    }

    &__title {
        height: 100px;
        line-height: 100px;
        font-size: 5rem;
        color: white;
        text-align: center;
        background-color: darken(rgb(11, 49, 165), 20%);
    }

    &__timer-wrap {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    &__timer {
        width: 100%;
        text-align: center;
        font-family: monospace, sans-serif;
        font-size: 10rem;
        color: white;
        letter-spacing: 5px;
        text-shadow: 2px 4px 5px #000;
    }

    &__option-panel {
        display: none;
    }

    &__footer {
        display: flex;
        height: 100px;
        background-color: darken(rgb(11, 49, 165), 20%);
    }

    &__options {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__mode {
        &--content {
            margin: 0 20px;
            line-height: 100px;
            font-size: 3rem;
            color: white;
        }

        &--span {
            font-weight: bold;
        }

        &--icon {
            margin-right: 10px;
            color: orange;
            text-shadow: 0 0 3px #fff;
        }
    }
}